/* id selectors, pixels */
/* h1 {
  color: red;
  font-size: 2rem;
} */

/* id selectors, selector grouping*/
/* #check,
p {
  color: green;
}
h2,
h3 {
  color: blue;
  font-size: 2rem;
} */

/* class selectors; rgb practice */
/* .test {
  color: rgb(136, 255, 0);
}
.many {
  background: rgb(128, 128, 128);
} */

/* div and span */
/* div {
  background-color: yellow;
} */
/* span {
  text-transform: uppercase;
} */
/* vh and vw */
/* .banner {
  width: 50vw;
  height: 50vh;
  background: red;
}
.header {
  width: 100vw;
  height: calc(100vh - 100px);
  background: blue;
} */

/* CSS Box Model */
/* .box1 {
  background: green;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  margin: -40px; 
  outline: solid 5px green;
  outline-offset: 5px;
} */
/* .box2 {
  width: 70vw;
  background: black;
  padding: 20px 30px;
  padding: 20px 20px 20px 20px
  border-bottom: solid red 5px;
  border-radius: 20px;
}
ul li {
  list-style-type: none;
  display: inline-block;
  background: orange;
  margin: 4px;
  box-sizing: border-box;
} */

/* Background Image */
/* div {
  min-height: 100vh;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.large {
  background: url("./Images/reg-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
/* }
.small {
  background: url("./Images/reg-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* .regular {
  background: url("./Images/reg-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

/* .gradient {
   background: linear-gradient(to top, red, green); 
   background: linear-gradient(300deg, red, green); 
   background: linear-gradient(300deg, rgba(25, 100, 200), rgba(100, 20, 16)); 
} */

/* Float, clear and overflow properties */
/* main {
  border: solid 5px red;
  margin-top: 20px;
  overflow: hidden;
}
img {
  float: left;
  margin-right: 50px;
} */

/* p {
  clear: right;
} */

/* float property */
/*div{
  margin-top: 20px;
}
 .c1{
  background: red;
  float: left;
  height: 100vh;
  width: 33.33%;
  border: solid black 2px;
  box-sizing: border-box;
}
.c2{
  background: blue;
  float: left;
  height: 100vh;
  width: 33.33%;
  border: solid black 2px;
  box-sizing: border-box;
  
}
.c3{
  background: green;
  float: left;
  height: 100vh;
  width: 33.33%;
  border: solid black 2px;
  box-sizing: border-box;
  
} */

/* Element Poitioning */
/* div {
  border: solid 5px red;
  width: 50vw;
  position: relative;
}
.rel {
  background: grey;
  position: relative;
  left: 20%;
  bottom: 50px;
}
.abs {
  background: green;
  position: absolute;
  bottom: 100px;
}
button {
  background: blue;
  position: sticky;
  bottom: 0;
  height: 20px;
  color: white;
} */

/* Media Querries */
/* body {
  background: grey;
}
.banner {
  background: white;
  border-radius: 25px;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .banner {
    background: black;
    color: white;
  }
  body {
    background: yellow;
  }
} */

/* z-index */
/* img {
  width: 200px;
  position: absolute;
  margin: 5px;
}
.banner {
  border: solid black 2px;
  position: relative;
}
.small {
  top: 0;
  left: 0;
  z-index: 2;
}
.large {
  top: 100px;
  left: 10%;
  z-index: 1;
}
.regular {
  top: 200px;
  left: 20%;
  z-index: 0;
} */
/* before, after, first-line, first letter pseudo-element selectors, pseudo class selectors*/

/* p::before {
  content: "Hello ";
  font-weight: bold;
  font-size: 2rem;
  color: red;
  font-style: italic;
}
h2::first-line {
  color: red;
  font-weight: normal;
}
h2::first-letter {
  font-size: 3rem;
  font-style: italic;
}
div:hover {
  width: 70vw;
  height: 70vh;
}
div {
  width: 50vw;
  height: 50vh;
  margin: 100px auto;
  position: relative;
}
img {
  width: 100%;
  height: 100%;
}
div::before {
  content: "";
  border: solid grey 2px;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  bottom: 50px;
  right: 50px;
  background: orange;
  z-index: -1;
} */

/* Transformation, Transition, Animation */
/* div {
  width: 150px;
  height: 150px;
  display: inline-block;
  transition-property: background, border-radius, transform;
  transition-duration: 1s, 2s;
}
div:hover {
  background: coral;
}
.one:hover {
  border-radius: 50%;
}
.three:hover {
  transform: rotate(100deg);
}
.one {
  background: red;
  transform: translate(20px, 20px);
  transform:translateX (50%)
  transform:rotate(100deg);
  transform:rotateX(100deg);
}
.two {
  background: green;
  transform: scale(0.5, 0.5);
  transform:scaleX(20 
}

.three {
  background: blue;
  transform: skew(60deg, -40deg);
  transform:skewX(40deg);
} */
/* div {
  width: 100px;
  height: 100px;
  background: blue;
  margin: 5px;
  transition: all 1s;
}
div:hover {
  transform: translateX(100px);
}
.ease {
  transition-timing-function: ease;
}
.linear {
  transition-timing-function: linear;
}
.ease-in {
  transition-timing-function: ease-in;
}
.ease-out {
  transition-timing-function: ease-out;
}
.ease-in {
  transition-timing-function: ease-in-out;
} */

/* Animation */
/* div {
  width: 200px;
  height: 100px;
  margin: 5px;
}
.transition {
  background: grey;
  transition: all 2s linear;
}
.transition:hover {
  background: coral;
  transform: translateX(100px);
}
.animation {
  background: grey;
  animation-name: stuff;
  animation-duration: 10s;
  animation-iteration-count: 1;
} */

/* .animation:hover {
  animation: stuff 10s 1;
  animation-fill-mode: forwards;
} */

/* @keyframes stuff {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(100px);
    background: red;
  }
  75% {
    transform: translateX(-200px);
    background: yellow;
  }
  100% {
    transform: translateX(200px);
    background: green;
  }
} */
/* CSS Variables */
/* :root {
  --mainColor: red;
  --animationMain: all 4s linear;
}
h1 {
  color: var(--mainColor);
}
h2 {
  background: var(--mainColor);
}
p:hover {
  color: var(--mainColor);
  text-align: center;
}
p {
  transition: var(--animationMain);
} */
/* div {
  --secondColor: grey;
}
h2 {
  color: var(--secondColor);
} */
/* Icons */
/* i {
  font-size: 50px;
  color: blue;
  border: green 2px solid;
  padding: 10px;
} */
/* Text and Box Shadow */
/* h1 {
  text-shadow: 3px 1px 1px green;
}
.shadow {
  width: 100px;
  height: 100px;
  background: red;
  box-shadow: 2px 2px 2px green;
}
img {
  width: 100%;
  margin-top: 5px;
  display: inline-block;
}
.big {
  float: left;
  width: 45%;
  margin-right: 5%;
  height: 250px;
  object-fit: cover;
}
.regular {
  float: left;
  width: 45%;
  margin-right: 5%;
  height: 250px;
  object-fit: cover;
} */
